body { 
      background-image: url(background.gif);
	  padding-top:70px;
      text-align: center;
      background-size: cover;
      background-position: center;
      color: white;
      font-family: helvetica;
	 }

#navbar {
	background: black;
}

#jsh {
	color: red;
}

#menuseb{
	color: red;
}

#sebpic{
	width: 400px;
	padding: 50px;

 }
 #social{
 	text-align: center;
 	position: relative;
 	right: -130px;
 }
