style.css
.topnav {
    background-color: #000000;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: black;
    color: black;
}
.topnav a.active {
    background-color: black;
    color: white;
}
* {background-color: green;}
	.div1 {
		padding-bottom: 30px;
		padding-top: 30px; 
		background-color: black;
	}
h2 { color :red; }
