body { 
	font-family: helvetica;
background-image: url(background.gif);
	padding-top:70px; }
#myCarousel {

	margin-bottom: 70px;
}

#navbar {
	background: black;
}

#jsh {
	color: red;
}
h1 {
	font-size: 22px;
}

#navbar a:hover {
color: red;
}
