style.css
.topnav {
    background-color: black;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: black;
    color: white;
}
.topnav a.active {
    background-color: black;
    color: white;
}
	.div1 {
		padding-bottom: 30px;
		padding-top: 30px; 
		background-color: black;
	}
#email {
      border: 0;
      padding: 10px;
      font-size: 18px;
    }

#submit {
      background: red;
      color: white;
    }
#logo {
	size: 20px}
